<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
         {% block title %}Django{% endblock  %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css" />
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
  
  </head>
  <body>
    <h1> {{title}}</h1>
    
    <nav>
        {% include 'partials/nav.html' %}
    </nav>
    {% block content %}
    {% endblock  %}
    {% comment %} <img src="{% static 'Image/img1.jpeg' %}" alt=""> {% endcomment %}
  </body>
  <script src="{% static 'js/scripts.js' %}"></script>
</html>
