{% extends "base.html" %} {% block contain %}
<h1>All Tasks</h1>
<a href="{% url 'addForm' %}"><button>Add task</button></a>
<ul>
  {% for task in tasks %}
  <li><a href="{% url 'task_details' task.pk %}">{{ task.id }}. {{ task.title }} | <a href="{% url 'delete_task' task.id%}">delete</a> | <a href="{% url 'update_task' task.id%}">Update</a></a></li>
  {% endfor %}
</ul>
<a href="/tasks/?completed=1">completed task</a><br />
<a href="/tasks/?completed=0">Pending task</a><br />
<a href="/tasks/">all task</a>

{% endblock %}
