{% extends 'base.html' %} {% block contain %}
  <h1>All Tasks</h1>
  <a href="{% url 'addForm' %}"><button>Add task</button></a>
  <ul>
    {% for task in tasks %}
      <li>
        {{forloop.counter}}.
        <a href="{% url 'task_details' task.pk %}">{{ task.title }}</a>
        | {{ task.description }}
        | completed: {{ task.completed }}
        | <a href="{% url 'update_form' task.id %}">Update</a>
        | <a href="{% url 'delete_task' task.id %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
  <a href="/tasks/?completed=1">completed task</a><br />
  <a href="/tasks/?completed=0">Pending task</a><br />
  <a href="/tasks/">all task</a>
{% endblock %}
